<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylsheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


</head>
        <style>
        @import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

        body{
            text-align: center;
        }
        h1{
            font-family: 'Amatic SC', cursive;
            font-weight: normal;
            color: #8ac640;
            font-size: 2.5em;
        }

        </style>


    <body>
    {% include  'navbar.html'%}
     {% block body %}{% endblock %}

    </body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</html>