<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Frits App</title>
    </head>

<body>

        {% extends "layout.html" %}
        {% block body %}

            <div class ="jumbotron text-center">
                <h1>Welcome To Frist Flask Application</h1>
                <p class ="lead">Simple crud application using flask python microframework</p>
                <img src="http://www.naturalprogramming.com/images/smilingpython.gif">

        </div>

        {% endblock %}

</body>

</html>