<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Frits App</title>
    </head>

<body>

        {% extends "layout.html" %}
        {% block body %}

            <div class ="jumbotron text-center">
                <h1>Welcome To Frist Flask Application</h1>
                <p class ="lead">Simple crud application using flask python microframework</p>
                <img src="http://www.naturalprogramming.com/images/smilingpython.gif">

            </div>
            <!-- Footer Start -->
                       <div class="col-md-12 page-body margin-top-50 footer">
                          <footer>


                          <p>© Copyright 2018 . All rights reserved</p>


						  <!-- UiPasta Credit Start -->
                          <div class="uipasta-credit">Design By <a href="http://shakiblimon.github.io/cv" target="_blank"><i>Shakib Limon</i></a></div>
                          <!-- UiPasta Credit End -->


                         </footer>
                       </div>
                       <!-- Footer End -->

        {% endblock %}

</body>

</html>